ul{
    list-style-type: none;
}

@font-face {
    
    font-family: dimis;
    src: url('fontes/DIMIS___.TTF');
}
@font-face {
    font-family: robot;
    src: url('fontes/Robot\ Crush.otf');
   
}
.bg{
    background-image: url('../829193.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;

    background-size: cover;
   
}
.titu{
    font-family: robot;
    color: aliceblue;
    font-size: 60px;
}
.subtitu{
    font-family: robot;
    color: aliceblue;
    font-size: 45px;
}
.bg-dark{
    opacity: 0.9;
}
#pergunta{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    font-size: 45px;
    display: none;
}


#result{
   font-family: dimis; 
   color: cyan;
   font-size: 35px;
   display: none;
   
   
  
}
#respostas{
    color: aliceblue;
}
#msg{
    font-family: dimis;
    color: aliceblue;
    font-size: 30px;
    display: none;

}